[user]
    name = Tristan Haffenden
    username = thaffenden
    email = tristanehaffenden+github@gmail.com

[core]
    editor = vim

[color]
    ui = true

[color "status"]
    added = green
    changed = yellow
    untracked = red

[url "git@github.com:"]
	insteadOf = https://github.com/
[pager]
	branch = false
